.footerWrap {
  margin-top: auto;
}

.siteInfo {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  height: 266px;
}

.footerBar {
  height: 392.5px;
}

.footerSites a:hover {
  cursor: pointer;
  color: var(--mi-orange);
}

.serve {
  height: 80px;
  background-color: chocolate;
}

.siteInfoLinks {
  font-size: 12px;
  display: block;
}

.siteInfoLinks a {
  color: #757575;
}

.siteInfoLinks span {
  color: var(--font-color);
}

.footerEdH {
  display: flex;
}

.footerEdH div {
  padding: 0px 20px 0px 0px;
}

.footerSites {
  line-height: 19px;
}

.siteInfoText a {
  color: var(--font-color);
}

.siteInfoText {
  line-height: 16px;
  font-size: 12px;
  color: var(--font-color);
}

.iconLinksWrap {
  margin: 4px 0px 15px;
}

.iconLinks {
  height: 28px;
}

.safeAuto {
  position: relative;
}

@keyframes safeChange {
  0% {
    z-index: -1;
  }
  50% {
    z-index: 0;
  }
  100% {
    z-index: -1;
  }
}

.websiteSecurity02 {
  position: absolute;
  left: 0;
  animation-name: safeChange;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.footerBar {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.footerItem {
  width: 160px;
}

.itemTopic {
  margin: -1px 0 26px;
  font-size: 14px;
  color: var(--gray);
}

.itemLinks div {
  font-size: 12px;
  margin: 10px 0px 0px;
}

.itemLinks a {
  color: #757575;
}

.footerContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 252px;
  height: 80px;
  border-left: 1px solid var(--headBar-border);
}

.contactNum {
  font-size: 22px;
  color: var(--mi-orange);
  margin: 0px 0px 5px;
}

.contactInfo {
  font-size: 12px;
  color: #616161;
  margin: 0px 0px 5px;
}

.contactLinks {
  width: 120px;
  height: 30px;
  background-color: var(--white);
  color: var(--mi-orange);
}

.contactLinks {
  font-size: 12px;
  width: 120px;
  height: 30px;
  border: 1px solid var(--mi-orange);
  line-height: 28px;
  text-align: center;
  background-color: var(--white);
  color: var(--mi-orange);
}

.contactLinks:hover {
  border: 1px solid var(--white);
  background-color: var(--mi-orange);
  color: var(--white);
}
