.headContainer {
  height: 670px;
  min-width: var(--edition-width);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.banner {
  position: relative;
}

.headerCategoryList {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #69656566;
  height: 460px;
  width: 234px;
  padding: 20px 0;
}

.categoryItem {
  height: 42px;
  padding: 0px 0px 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categoryItem:hover {
  cursor: pointer;
  background: var(--mi-orange);
}

.itemName {
  color: var(--white);
  font-size: 14px;
  line-height: 28px;
}

.headContainer img {
  width: 1226px;
}

.headContainer .iconfont {
  font-size: 24px;
  color: #e0e0e0;
  margin-right: 16px;
}

.categoryItemWrap {
  position: absolute;
  top: 0;
  left: 234px;
  height: 460px;
  background-color: #fff;
  box-shadow: 0px 8px 16px #0000002e;
  display: flex;
  flex-wrap: wrap;
  writing-mode: vertical-lr;
  visibility: hidden;
}

.categoryItemLink {
  writing-mode: horizontal-tb;
  display: block;
  padding: 18px 20px;
  width: 265px;
  height: 76px;
  display: flex;
  align-items: center;
  color: #333333;
  text-overflow: ellipsis;
}

.categoryItemLink:hover {
  cursor: pointer;
  color: var(--mi-orange);
}

.categoryText:hover {
  cursor: pointer;
  color: var(--mi-orange);
}

.categoryItem:hover > div {
  visibility: visible;
}

.categoryItemLink img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.categoryText {
  overflow: hidden;
  width: 172px;
  display: inline-block;
  font-size: 14px;
}

.recommended {
  width: var(--edition-width);
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.recommendedFunction {
  background-color: #5f5750;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 236px;
  height: 170px;
  position: relative;
  /* gap: 6px; */
}

.recommendedFunction li {
  width: 70px;
  height: 82px;
  /* padding: 0px 3px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}

.recommendedFunction li:hover {
  opacity: 1;
}

.recommendedFunction li::after {
  position: absolute;
  top: 82px;
  content: "";
  background-color: #665e57;
  width: 64px;
  height: 1px;
}

.recommendedFunction li::before {
  position: absolute;
  content: "";
  left: 76px;
  background-color: #665e57;
  width: 1px;
  height: 70px;
}

.recommendedFunction a {
  display: block;
  margin: 3;
  font-size: 12px;
  color: #ffffff;
  width: 64px;
  text-align: center;
}

.recommendedFunction img {
  height: 24px;
  width: 24px;
  margin: 0 0 4px 0;
}

.recommendedGoods img {
  width: 316px;
  height: 170px;
}

.recommendedGoods li:hover {
  box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
}

.recommendedGoods {
  display: flex;
  gap: 16px;
}

.recommendedGoods li {
  transition: box-shadow 0.2s linear;
}
