@import "./containerTopic.css";
@import "./mainGoods.css";
@import "./otherGoods.css";

.containerWrap {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.container {
  width: var(--edition-width);
  display: flex;
  flex-direction: column;
}

.longTopicImg {
  width: 1226px;
  height: 120px;
  margin: 24px 0;
}
